set noparent
linelength=80
extensions=h,cc
headers=h
# <thread>, <mutex>, <chrono> are the point of a C++11 thread pool.
filter=-build/c++11
# clang-format owns indentation; cpplint 2.x misreads wrapped constants
# at namespace scope as indented namespace bodies.
filter=-whitespace/indent_namespace
exclude_files=build
